header{
background-color: rgb(141, 154, 226);
padding: 10px;
}
nav{
    background-color: rgba(141, 154, 226, 0.438);
    padding: 10px;
}   
    .nav > li {
        float:left;
    }

    .nav li a {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
    }

    .nav li a:hover {
        background-color:#434343;
    }

    .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }

    .nav li:hover > ul {
        display:block;
    }

    .nav li ul li {
        position:relative;
    }

    .nav li ul li ul {
        right:-140px;
        top:0px;
    }





section{
    background-color: rgb(231, 218, 95);
    padding: 10px;
}
aside{
    background-color: rgb(175, 240, 236);
    padding: 10px;
}
footer{
    background-color: rgb(240, 240, 247);
    padding: 10px;
}